{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block cssfile %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
{% endblock %}

{% block body %}

<div class="container">
  <h2>Options</h2>
 
  <div class="btn-group btn-group-justified">
    <a href="{% url 'myapp:create' %}" class="btn btn-success">Create New</a>
    <a href="{% url 'myapp:search' %}" class="btn btn-primary">Search Particular</a>
  </div>
</div>
<br><br>
<div class="container">
  <h2>All Results</h2>
          
  <table class="table table-striped">
    <thead>
      <tr>
      	<th>ID</th>	
        <th>Title</th>
        <th>Description</th>
      	<th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for row in sorted_list %}
      <tr>
      	<td>{{ row.id }}</td>
        <td>{{row.title}}</td>
        <td>{{row.desc}}</td>
        <td>
        	<div class="container">
    			<a href="{% url 'myapp:update' pk=row.id %}" class="btn btn-warning ">Edit</a>
    			<a href="{% url 'myapp:delete' pk=row.id %}" class="btn btn-danger ">Delete</a>
  			</div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}	